{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/404.css' %}"
    />
    
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'icons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'icons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'icons/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}" />
    <link
      rel="mask-icon"
      href="{% static 'icons/safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#00172D" />
    <title>Error 404 Not Found || Calculator of Greed</title>
  </head>
  <body>
  <header><h1>Calculator of Greed</h1></header>
    <div class="container">
    <header>
        <h1 class="title">Page Not Found</h1>
        <h2>Error: 404</h2>
    </header>
    <buttom class="btnError"><a href="{% url 'calculator:FormCalc' %}">Return to Calculator</a></buttom>
    </div>
  </body>